:host {
  direction: rtl;
  // display: block;
  // padding: 20px;
  // font-family: "Assistant", sans-serif;
  // background-color: #f8f9fa;
}

h2 {
  text-align: center;
  margin-bottom: 20px;
  color: #000000;
}
table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 1rem;
  text-align: center;

  th,
  td {
    padding: 0.75rem;
    border: 1px solid #ccc;
  }

  thead {
    background-color: #000;
    color: #fff;
  }

  tbody tr:nth-child(even) {
    background-color: #dddddd;
  }

  tbody tr:hover {
    background-color: #eeeeee;
  }

  button {
    padding: 0.4rem 0.8rem;
    border: none;
    border-radius: 4px;
    background-color: #030303;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.2s;

    &:hover {
      background-color: #2a9de0;
    }
  }
}

h2 {
  text-align: center;
  margin-bottom: 1rem;
}

button[routerLink="/users/add"] {
  display: inline-block;
  margin-bottom: 1rem;
  background-color: #000;
  color: #fff;
  padding: 0.6rem 1.2rem;
  border-radius: 5px;
  font-weight: bold;

  &:hover {
    background-color: #333;
  }
}
